@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'The Seasons';
  src: url(../components/fonts/the_seasons/Fontspring-DEMO-theseasons-reg.otf);
}
   
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
  .font-the-seasons {
    font-family: 'The Seasons';
  }
}
